.App {
  text-align: center;
}
body {
  align-content: center;
  padding:15px;
  background: grey}
  
  
  form input {
    background:pink;
    border: 1px solid black;
  }
  
  
  button {
    background:lightgrey;
    color: orchid  
  }